.DS_Store
.vscode
*.tfstate
*.tfstate.*
terraform
**/.terraform/*
crash.log

.idea/
build.zip
build/
.terraform/
terraform.tfstate
terraform.tfstate.backup
.terraform.lock.hcl

.terraformrc
terraform.rc
.terraform-version

.tfstate.d/

.terraform/providers/
.terraform/plugins/
